
@{
    ViewBag.Title = "SuKien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<style>
    h2 {
        margin-left: 20px;
    }

    .btn-add {
        margin-right: 20px;
    }
</style>

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Quản lý</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin Tức</li>
        </ol>
    </nav>


</div>


<div class="text-right btn-add">
    <button type="button" class="btn btn-primary btn-lg" onclick="addTinTuc()"><i style="padding-right:5px" class="fas fa-plus"></i>Thêm Tin Tức</button>
</div>

<br />
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Danh mục</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Người tạo</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @using (DATHINHEntities db = new DATHINHEntities())
                {


                    var tintuc = db.EVENTS.ToList();
                    foreach (var item in tintuc.ToList())
                    {
                        var danhmuc = db.DANHMUCSKs.Where(x => x.IDDANHMUC == item.IDDANHMUC).FirstOrDefault();
                        var user = db.USERs.Where(x => x.IDUSER == item.IDUSER).FirstOrDefault();
                        string noidung = item.MOTA ?? "";
                        string tieude = item.TENEVENT ?? "";
                        tieude = System.Text.RegularExpressions.Regex.Replace(tieude, "<.*?>", String.Empty);
                        noidung = System.Text.RegularExpressions.Regex.Replace(noidung, "<.*?>", String.Empty);
                        if(tieude.Length > 40)
                        {
                            tieude = tieude.Substring(0, 40) + "...";
                        }
                        if (noidung.Length > 50)
                        {
                            noidung = noidung.Substring(0, 50) + "...";
                        }
                        <tr>
                            <td>@danhmuc.TENDANHMUC</td>
                            <td>@tieude</td>
                            <td>
                                @if (item.HINH == null)
                                {
                                    <img src="~/Hinh/no-img.jpg" style="width: 90px" alt="..." /> }
                                else
                                {
                                    <img src="~/Hinh/@item.HINH" style="width: 80px" alt="..." />}
                            </td>
                            <td>@Html.Raw(noidung)</td>
                            <td>@item.THOIGIANEV</td>
                            <td>@user.FULLNAME</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary mr-10" onclick="EditSuKien(@item.IDEVENTS)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger ml-10" onclick="DeleteSuKien(@item.IDEVENTS ,'@item.IDEVENTS')"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!--Model Thêm-->
<div id="modal" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin môn học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Danh mục</label>
                        <select class="form-control" name="DANHMUC">
                            @using (DATHINHEntities db = new DATHINHEntities())
                            {

                                foreach (var tieude in db.DANHMUCSKs.ToList())
                                {
                                    <option value="@tieude.IDDANHMUC">@tieude.TENDANHMUC</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Tiêu đề</label>
                        <input type="text" class="form-control" name="TIEUDE">
                    </div>
                    @*<div class="form-group">
                        <label class="col-form-label">Hình ảnh</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="hinh" onchange="readURL(this, 'blah1');" aria-describedby="inputGroupFileAddon01" name="HINH">
                                <label class="custom-file-label" for="inputGroupFile01">Chọn hình ảnh</label>
                            </div>
                        </div>
                        <br />
                        <div class="imges">
                            <img id="blah1" width="250">
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="col-form-label">Mô tả</label>
                        <textarea class="form-control" rows="5" name="MOTA" id="MOTA"></textarea>
                        <div class="invalid-feedback">
                            Vui lòng nhập mô tả
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()"><i class="far fa-save"></i> Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#myTable').DataTable();
        CKEDITOR.replace('MOTA');
    });

    let idEvent = 0;

    function addTinTuc() {
        idEvent = 0;

        $("[name='DANHMUC']").val('');
        $("[name='TIEUDE']").val('');
        CKEDITOR.instances['MOTA'].setData('');
        $("#modal").modal("show");
    }

    function SaveInfo() {
        let danhmuc = $("[name='DANHMUC']").val();
        let tieude = $("[name='TIEUDE']").val();
        let noidung = CKEDITOR.instances['MOTA'].getData();
        let user =  @(((USER)Session["Login"]).IDUSER)
        console.log(noidung);
        if (danhmuc == '' || tieude == '' || noidung =='') {
            $.notify("Vui lòng nhập thông tin !", "error");
            return;
        }
        $.ajax({
            url: '/Ajax/EditSuKien',
            type: 'POST',

            dataType: "json",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            data: {
                TENEVENT: tieude,
                IDDANHMUC: danhmuc,
                MOTA: noidung,
                HINH: "no-img.jpg",
                THOIGIANEV: Date.now(),
                IDUSER: user,

        },
        }).done(function (result) {
            if (result.Success) {
                alert('Cập nhật thành công');
                location.reload();
                return;
            }

        });

    }
    function EditNganh(id) {
        idNganh = id;
        $.ajax({
            url: '/Ajax/GetNganh/' + idNganh,
            type: 'GET',
            dataType: 'text',
            data: {
                id: idNganh,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("#addTitle").html("Thông tin ngành");
            $("[name='NGANH']").val(json.NAMENGANH);
            $("#modal").modal("show");

        });
    }
    function DeleteNganh(id) {
        if (!confirm("Bạn có muốn xóa ngành này không?")) return;
        $.ajax({
            url: '/Ajax/DeleteNganh/' + id,
            type: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
        }).done(function (ketqua) {
            if (ketqua.Success) {
                $.notify("Xóa thành công !", "success");
                location.reload();
                return;
            }
        }).fail(function (result) {
            if (!result.Success) {
                $.notify("Có lỗi xảy ra !", "error");
            }
        });
    }
</script>





